<div class="container">
    <div class="row my-2">
        <div class="col-lg-4 order-lg-1 text-center">
            <div style="height: 150px;">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, crop: :fill, class: 'mx-auto img-fluid rounded-circle h-100' %>
            <% else %>
              <%= image_tag "user.png", crop: :fill, class: 'img-fluid h-100' %>
            <% end %>
            </div>
            <% if @user == current_user %>
            <div class="dropdown">
                <button class="btn btn-block btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Change Photo <span class="caret"></span>
                </button>
            <div class="dropdown-menu dropdown-menu-center w-100 p-2" aria-labelledby="dropdownMenuButton">
              <%= simple_form_for @user, html: {class: 'd-flex align-items-center'} do |f| %>
                <%= f.input :photo, as: :file, label: false, wrapper_html: { class: "m-0"} %>
                <%= f.button :submit, "📤", class: "btn btn-light" %>
              <% end %>
            </div>
          </div>
            <% end %>
        </div>
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs border-0">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active border-0 p-0">User Profile</a>
                </li>
                <% if current_user == @user %>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link border-0 py-0">Edit Info</a>
                </li>
                <% end %>
            </ul>
            <div class="tab-content py-3">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3"><%= "#{@user.first_name} #{@user.last_name}" %></h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>About Myself</h6>
                            <p>
                                <%= @user.description %>
                            </p>
                        </div>
                        <div class="col-md-6">
                          <% if @user.tutor %>
                            <h6>Rating</h6>
                            <% if @rating.nan? %>
                              No ratings yet!
                            <% else %> 
                              <% @rating.round.times do %>
                              <i class="fas fa-star text-warning"></i>
                              <% end %>
                              <% (5 - @rating.round).times do %>
                              <i class="fas fa-star text-dark"></i>
                              <% end %>
                            <% end %>
                            <div class="py-1"></div>
                            <h6>Statistics</h6>
                            <span class="badge badge-primary"><i class="fas fa-check"></i> <%= pluralize(@completed.count, 'Job') %> Completed</span>
                          <% else %>
                            <h6>Statistics</h6>
                            <span class="badge badge-success"><i class="fas fa-pen"></i> <%= pluralize(@user.bookings.count, 'Booking') %> Made</span>
                          <% end %>
                            <span class="badge badge-danger mb-3"><i class="fas fa-ban"></i> <%= pluralize(@cancelled, 'Booking') %> Cancelled</span>
                        </div>
                        <div class="col-md-12 border-top">
                            <% if @user.tutor? %>
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Reviews Received</h5>
                            <% else %>
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Reviews Given</h5>
                            <% end %>
                            <% @reviews.each do |review| %>
                            <div class="row review-item py-3">
                            <% if @user.tutor? %>
                              <div class="col-md-3 text-center">
                                <% if review.booking.user.photo.attached? %>
                                  <%= cl_image_tag review.booking.user.photo.key, crop: :fill, class: 'mx-auto img-fluid img-circle d-block avatar-large' %>
                                <% else %>
                                  <%= image_tag "user.png", crop: :fill, class: 'mx-auto img-fluid img-circle d-block avatar-large' %>
                                <% end %>
                                <div class="caption">
                                  <small><%= link_to review.booking.user.full_name, review.booking.user %></small>
                                </div>
                              </div>
                            <% else %>
                              <div class="col-md-3 text-center">
                                <% if review.booking.tutor.photo.attached? %>
                                  <%= cl_image_tag review.booking.tutor.photo.key, crop: :fill, class: 'mx-auto img-fluid img-circle d-block avatar-large' %>
                                <% else %>
                                  <%= image_tag "user.png", crop: :fill, class: 'mx-auto img-fluid img-circle d-block avatar-large' %>
                                <% end %>
                                <div class="caption">
                                  <small><%= link_to review.booking.tutor.full_name, review.booking.tutor %></small>
                                </div>
                              </div>
                            <% end %>
                              <div class="col-md-9">
                                <div class="d-flex justify-content-between">
                                <h4><%= review.booking.job.name %></h4>
                                <div>
                                  <% review.rating.times do %>
                                  <i class="fas fa-star text-warning"></i>
                                  <% end %>
                                  <% (5 - review.rating).times do %>
                                  <i class="fas fa-star text-dark"></i>
                                  <% end %>
                                </div>
                                </div>
                                <div class="ratebox text-center" data-id="0" data-rating="5"></div>
                                <p class="review-text"><%= review.content %></p>

                                <small class="review-date" style="color: grey;">Reviewed <%= review.created_at.strftime("%d %b %Y") %></small>
                              </div>                          
                            </div>
                            <% end %> 
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="edit">
                  <div class="p-1">
                  <%= simple_form_for @user do |f| %>
                  <div class="form-row">
                    <div class="h5 w-100">Edit My Information</div>
                    <%= f.input :first_name, label: 'First Name', wrapper_html: { class: 'flex-fill' } %>
                    <div class="px-2"></div>
                    <%= f.input :last_name, label: 'Last Name', wrapper_html: { class: 'flex-fill' } %>
                  </div>
                  <div class="form-row">
                    <%= f.input :description, label: 'About Myself', wrapper_html: { class: 'w-100' } %>
                  </div>
                  <div class="form-row">
                    <%= f.button :submit, "UPDATE MY INFO", class: 'btn btn-primary btn-block mb-2' %>
                    <%= link_to "Delete my account",
                        user_path(current_user),
                        data: { confirm: "Really delete your account?" },
                        class: 'p-0',
                        method: :delete %>
                  </div>
                  <% end %>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>