<div class="container mt-5">
  <h1 class="text-center">Book a Tutor</h1>
  <div class="d-flex flex-wrap align-items-center">
    <%# The job card goes here %>
    <div class="pricing col-lg-4 offset-lg-2">
        <div class="card mb-lg-0">
        <div class="view overlay">
        <%= cl_image_tag @job.photo.key, crop: :fill, class: 'card-img-top' %>
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title text-uppercase text-center"><%= @job.name %></h5>
            <h6 class="card-price text-center"><%= @job.duration.round %> mins</h6>
            <hr>
            <ul class="fa-ul">
            <% des = JSON.parse @job.description %>
            <% des.each do |thing| %>
                <% if thing[0] %>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><%= thing[1] %></li>
                <% else %>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span><%= thing[1] %></li>
                <% end %>
            <% end %>
            </ul>
        </div>
        </div>
    </div>
    <div class="col-lg-4 h-100">
    <h4>Time & Date</h4>
    <%= simple_form_for(@booking, as: :booking, method: :post, url: orders_path) do |f| %>
      <div class="form-row">
      <%= f.input :start_date, html5: true, label: false, wrapper_html: { class: 'col-6 pl-0' }, input_html: { value: Date.today, class: 'text-center' } %>
      <%= f.input :start_time, html5: true, label: false, wrapper_html: { class: 'col-6 pr-0' }, input_html: { value: "20:00", class: 'text-center' } %>
      </div>
    <h4>Language Preference</h4>
      <div class="form-row">
      <%= f.input :language, collection: %w[English Chinese Malay Tamil], include_blank: false, label: false,
          wrapper_html: { class: 'col-12 p-0' }, input_html: { class: 'text-center' } %>
      <%= hidden_field_tag(:job_id, @job.id) %>
      <%= hidden_field_tag(:price, @cost) %>
      </div>
      <div class="form-row">
      <%= f.button :submit, "Book for $#{@job.price.round}", class: "btn-primary btn-block" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
