<div class="container d-flex justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
  <h1>Job Board</h1>
  
  <div>
  <% @bookings.each do |booking| %>
    <div class="row">
          <div class="col-12 mb-3">
              <div class="card shadow-sm">
                  <div class="d-flex flex-wrap">
                      <div class="img-square-wrapper col-3 p-0" style="background-image: url('<%= cl_image_path(booking.job.photo.key, :width => 250) %>'); background-size: cover">
                      </div>
                      <div class="card-body d-flex flex-column justify-content-between">
                          <h4 class="card-title"><%= booking.job.name %></h4>
                          <div class="d-flex justify-content-between">
                          <div>
                          <p class="card-text">
                          <i class="fas fa-calendar-day"></i> <%= booking.start_date %><br>
                          <i class="far fa-clock"></i> <%= booking.start_time.strftime("%I:%M%p") %><br>
                          <i class="fas fa-hourglass-half"></i> <%= booking.job.duration.round %> mins<br>
                          <i class="fas fa-money-bill-wave-alt"></i> <%= humanized_money_with_symbol(booking.price) %><br>
                          <i class="fas fa-comment-dots"></i> <%= booking.language %><br>
                          <i class="fas fa-user"></i> <%= link_to "#{booking.user.first_name} #{booking.user.last_name}", booking.user %><br>
                          </p>
                          </div>
                          <div>
                          <%= link_to 'Apply', apply_booking_path(booking), class: 'btn btn-primary' %>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
  <% end %>
  </div>
  <div>
</div>
