<div class="container mt-5">
  <h1 class="text-center">Book a Tutor</h1>

  <div class="d-flex flex-wrap">
  <%# The job card goes here %>
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card shadow-sm mb-3">
        <div class="d-flex flex-wrap">
          <div class="img-square-wrapper col-3 p-0" style="background-image: url('<%= cl_image_path(@job.photo.key, :crop => :fill) %>'); background-size: cover">
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <h4 class="card-title"><%= @job.name %></h4>
            <div class="d-flex justify-content-between">
              <div>
                <p class="card-text">
                  <i class="fas fa-cogs"></i> <%= @job.category.name %><br>
                  <i class="fas fa-tasks"></i>
                  <% des = JSON.parse @job.description %>
                  <% arr = [] %>
                  <% des.each { |thing| arr << thing[1] }  %>
                  <%= arr.join(', ') %><br>
                  <i class="far fa-clock"></i> <%= @job.duration.round %> mins<br>
                  <i class="fas fa-money-bill-wave-alt"></i> $<%= @cost %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8 offset-md-2">
    <h2>When would you like a tutor?</h2>
    <%= simple_form_for @booking do |f| %>
      <div class="form-row">
      <%= f.input :start_date, html5: true, label: false, input_html: { value: Date.today} %>
      <%= f.input :start_time, html5: true, label: false, input_html: { value: "20:00" } %>
      </div>
    <h2>What language would you prefer?</h2>
      <div class="form-row">
        <%= f.input :language, collection: %w[English Chinese Malay Tamil], include_blank: false, label: false %>
        <%= hidden_field_tag(:job_id, @job.id) %>
        <%= hidden_field_tag(:price, @cost) %>
        <%= hidden_field_tag(:booking_id, @booking.id) %>
      </div>
      <div class="form-row">
        <%= f.button :submit, "PURCHASE", class: "btn-primary btn-block" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
