<div class="container mt-5">
<h1>Book a Tutor</h1>

<div class="d-flex">
<%# The job card goes here %>
<div class="col-12 col-md-6">
<h2>The Task</h2>
<div class="card shadow-sm">
    <div class="d-flex flex-wrap">
        <div class="img-square-wrapper col-3 p-0" style="background-image: url('<%= image_path "https://picsum.photos/300" %>'); background-size: cover">
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <h4 class="card-title"><%= @job.name %></h4>
            <div class="d-flex justify-content-between">
            <div>
            <p class="card-text">
            <i class="fas fa-cogs"></i> <%= @job.category.name %><br>
            <i class="fas fa-tasks"></i> <%= @job.description %><br>
            <i class="far fa-clock"></i> <%= @job.duration.round %><br> mins
            <i class="fas fa-dollar-sign"></i> $<%= @cost %>
            </p>
            </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-12 col-md-6">
<h2>When would you like a tutor?</h2>
<%= simple_form_for @booking do |f| %>
  <div class="form-row">
  <%= f.input :start_date, html5: true, label: false, input_html: { value: Date.today} %>
  <%= f.input :start_time, html5: true, label: false, input_html: { value: "20:00" } %>
  <%= hidden_field_tag(:job_id, @job.id) %>
  <%= hidden_field_tag(:price, @cost) %>
  </div>
  <%= f.button :submit, class: 'btn btn-success btn-block' %>
<% end %>
</div>
</div>

</div>