<div class>

<div>
<% @messages.each do |message| %>
     <%= message.created_at.strftime("%H:%M") %>
     <%= message.sender.first_name %>
     <%= message.chatroom.booking.user.last_name %>
     <%= message.content %>
     <%= message.sender != current_user ? "" : message.read %>
     
    <% message.update(read: true) if current_user != message.sender %>
    <br>
<% end %>




<%= simple_form_for([ @chatroom, @message ], remote: true) do |f| %>
    <div class="form-group" id="submit-box">
        <%= f.input :content, label: false, placeholder: 'Your message here', wrapper_html: { class: 'flex-fill p-0 m-0' } %>
        <%= f.button :submit, "SEND", class: 'btn btn-primary btn-block' %>
    </div>
<% end %>

</div>