<head>
</head>
<body>

<div class="container">
<h1 class="mt-4">Choose or Search job, be savvy! </h1>
<%# search bar for category & jobs%>
    <div class ="form-inline mg-auto" >
        <%= form_tag categories_path, method: :get do %>
        <%= text_field_tag :query, params[:query],class: "form-control", placeholder: "Find a task"%>
        <%= submit_tag "Search", class: "btn btn-primary" %> 
        <% end %>
    </div>

  <% if @jobs.empty? %>
    No Results
  <% else %>
    <% @jobs.each do |job| %>
      <%= job.searchable.name %>
    <% end %>
  <% end %>


<%# <% render "app/views/categories/renders" %>
     

<%# PILLS LINKS TO WRAPPERS START HERE %>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All Jobs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-bills-tab" data-toggle="pill" href="#pills-bills" role="tab" aria-controls="pills-bills" aria-selected="false">Pay Bills & Transfer $</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-accounts-tab" data-toggle="pill" href="#pills-accounts" role="tab" aria-controls="pills-accounts" aria-selected="false">Accounts & Troubleshooting</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="pills-government-tab" data-toggle="pill" href="#pills-government" role="tab" aria-controls="pills-government" aria-selected="false">Government Related</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="pills-software-tab" data-toggle="pill" href="#pills-software" role="tab" aria-controls="pills-software" aria-selected="false">Software</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" id="pills-commerce-tab" data-toggle="pill" href="#pills-commerce" role="tab" aria-controls="pills-commerce" aria-selected="false">e-Commerce</a>
  </li>
</ul>
<%# PILLS LINKS TO WRAPPERS END HERE %>


<%# START OF PILL CONTENT WRAPPER %> <div class="tab-content" id="pills-tabContent">

<%# START CONTENT OF TAB/PILL FOR ALL JOBS %>
  <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">

            <section class="pricing py-4">
            <div class="container">
            <%# <---CARDS -- > %>

                <div class="row">
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                    <div class="view overlay">
                        <img class="card-img-top" src="https://picsum.photos/300/200">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[0].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[0].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Water / Electric / Gas</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Internet / Phone bills</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[0].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[1].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[1].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Life, health, medical</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>GIRO walkthroughs</li>
                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Insurer information not required</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[1].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>

<%# NEW ROW %>


                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[2].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[2].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Parking & LTA</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>HDB/URA/NEA & AXS</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[2].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[3].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[3].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Paynow / Paylah / PayAnyone</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Includes setup</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[3].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[4].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[4].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[4].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[5].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[5].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>For existing users of services</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[5].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[6].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[6].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Forgot account ID/Password</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Accessing Singpass services</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[6].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[7].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[7].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Basic CPF / Tax Q&A</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Viewing CPF / Tax accounts</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[7].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                
                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[8].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[8].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Grant eligibility (CHAS, etc)</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Social support applications</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[8].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[9].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[9].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Vehicle related Q&A</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>PARF value, road tax, estate parking</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[9].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[10].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[10].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>How to use Zoom / Skype, etc</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[10].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[11].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[11].duration.round %> mins</h6>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Sign-up of accounts</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>How to type, send photos, emojis</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[11].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[12].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[12].duration.round %> mins</h6>
                        <hr>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>New email account</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Basic functions</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[12].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[13].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[13].duration.round %> mins</h6>
                        <hr>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Word, Excel, Powerpoint</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>File saving and attachments</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[13].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[14].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[14].duration.round %> mins</h6>
                        <hr>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Lazada / Redmart / Amazon sign up </li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Food Delivery (Grabfood, etc)</li>
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Returns and Tracking</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[14].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>

                                <!------------------------- NEW CARD ------------------------------->
                <div class="col-lg-4 mb-5">
                    <div class="card mb-lg-0">
                            <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase text-center"><%= Job.all[15].name %></h5>
                        <h6 class="card-price text-center"><%= Job.all[15].duration.round %> mins</h6>
                        <hr>
                        <hr>
                        <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Using Grab / Gojek / Comfort</li>
                        </ul>
                        <%= link_to "Book a Slot", bookings_new_path(:job => Job.all[15].id), class: "btn btn-block btn-primary text-uppercase" %>
                    </div>
                    </div>
                </div>
                </div>
                <!-------------- Last card ends here ------------->

            </div > 
            </section>
                <!-------------- END OF CARDS ------------->

  </div>

<%# TAB/PILL FOR "ALL JOBS" END HERE %>


<%# Other tab/pills to be filled %>
  <div class="tab-pane fade" id="pills-bills" role="tabpanel" aria-labelledby="pills-bills-tab">...</div>
  <div class="tab-pane fade" id="pills-accounts" role="tabpanel" aria-labelledby="pills-accounts-tab">...</div>
  <div class="tab-pane fade" id="pills-government" role="tabpanel" aria-labelledby="pills-government-tab">...</div>
  <div class="tab-pane fade" id="pills-software" role="tabpanel" aria-labelledby="pills-software-tab">...</div>
  <div class="tab-pane fade" id="pills-commerce" role="tabpanel" aria-labelledby="pills-commerce-tab">...</div>
</div><%# END OF PILL CONTENT WRAPPERS %>
</div><%# /DIV END OF PILL CONTAINER %>






<%# Alert info below %>
<div class="alert alert-light alert-dismissible text-muted" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
    Our tutors will never ask for any personal data or information such as passwords.
</div>
<%# End of alert info below %>

</body>